/DateApp/DateApp/bin/Debug/*.dll
/DateApp/DateApp/bin/Debug/cs-CZ/*.dll
/DateApp/DateApp/bin/Debug/de/*.dll
/DateApp/DateApp/bin/Debug/es/*.dll
/DateApp/DateApp/bin/Debug/fr/*.dll
/DateApp/DateApp/bin/Debug/hu/*.dll
/DateApp/DateApp/bin/Debug/it/*.dll
/DateApp/DateApp/bin/Debug/pt-BR/*.dll
/DateApp/DateApp/bin/Debug/ro/*.dll
/DateApp/DateApp/bin/Debug/ru/*.dll
/DateApp/DateApp/bin/Debug/sv/*.dll
/DateApp/DateApp/bin/Debug/zh-Hans/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/*.p7s
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/*.nupkg
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/*.txt
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/cs-CZ/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/de/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/es/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/fr/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/hu/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/it/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/pt-BR/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/ro/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/ru/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/sv/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/lib/net40/zh-Hans/*.dll
/DateApp/packages/Extended.Wpf.Toolkit.4.0.1/tools/*.ps1
